<html>
<title> spring mvc</title>
<script src="/resource/js/jquery.min.js"></script>
<script src="/resource/js/web.js"></script>
<head></head>
<body>
 <body>hello ${spring}!
 <input id="btn" type="button" value="click"/>
 <input type="hidden" id="hide_ele" value="${name}">
 <input type="text" value="${name}">
  <input id="btn2" type="button" value="click JSon"/>
 <#assign x = "<a href='http://www.baidu.com'>dsds </a>">
 ${x}
${name}

<br/>
<image src="/user/outPutQrcodeImage" />
</body>
</html>
