<!DOCTYPE html>
<html lang="zh_cn">
<head>
<title>确认还款金额</title>
<link rel="icon" sizes="any" href="dafy.ico" />
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<link rel="stylesheet" type="text/css" href="https://idcwxtest.dafysz.cn/wechat-web/static/css/style.css">
</head>

<body>
	<div class="repayment-container">
		<div class="repayment-info">
			<div class="repayment-info-text">还款金额dd</div>
			<div class="repayment-info-amount">
				<span>￥</span>${creditAmount }</div>
		</div>
		<div class="product-info">
			<span>还款类别</span>
			
		</div>
		<a class="repayment-submit" id="doReapyment" href="javascript:void(0);">立即支付</a>
	</div>


	<div class="l-dialog-confirm" style="display: none;">
		<div class="l-musk" id="l-musk"></div>
		<div class="l-dialog-main" id="l-dialog-main">
			<div class="l-dialog-content" id="_content"></div>
			<div class="l-dialog-footer">
				<a id="cancel">取消</a> <a href="${contactPage}">联系客服</a>
			</div>
		</div>
	</div>

	<!-- 微信 js-sdk 先加载 -->
	<script src='http://apps.bdimg.com/libs/jquery/1.6.4/jquery.min.js'></script>
	<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
	<script type="text/javascript">
		wx.ready(function() {
			wx.hideOptionMenu();
		});

		//微信token
		/*wx.config({
			debug: true,
			appId: '${appId}',
			timestamp: '${sdktimestamp}',
			nonceStr: '${sdknonceStr}',
			signature: '${sdksignature}',
			jsApiList : [ 'checkJsApi', 'onMenuShareTimeline',
					'onMenuShareAppMessage', 'onMenuShareQQ',
					'onMenuShareWeibo', 'hideMenuItems', 'showMenuItems',
					'hideAllNonBaseMenuItem', 'showAllNonBaseMenuItem',
					'translateVoice', 'startRecord', 'stopRecord',
					'onRecordEnd', 'playVoice', 'pauseVoice', 'stopVoice',
					'uploadVoice', 'downloadVoice', 'chooseImage',
					'previewImage', 'uploadImage', 'downloadImage',
					'getNetworkType', 'openLocation', 'getLocation',
					'hideOptionMenu', 'showOptionMenu', 'closeWindow',
					'scanQRCode', 'chooseWXPay', 'openProductSpecificView',
					'addCard', 'chooseCard', 'openCard' ]
		});*/
		
	$(function(){
		$("#doReapyment").click( function () {
			console.log('----- ------');
			//访问后台接口，后台接口返回成功后，唤起微信支付
 			onBridgeReady();
			
		/* 	wx.chooseWXPay({
			    timestamp: '${timeStamp}', // 支付签名时间戳，注意微信jssdk中的所有使用timestamp字段均为小写。但最新版的支付后台生成签名使用的timeStamp字段名需大写其中的S字符
			    nonceStr: '${nonceStr}', // 支付签名随机串，不长于 32 位
			    package: '${package}', // 统一支付接口返回的prepay_id参数值，提交格式如：prepay_id=***）
			    signType: 'MD5', // 签名方式，默认为'SHA1'，使用新版支付需传入'MD5'
			    paySign: '${signStr}', // 支付签名
			    success: function (res) {
			        // 支付成功后的回调函数
			    }
			}); */
			
		});
		
	});

 	function onBridgeReady(){
 	   WeixinJSBridge.invoke(
 	       'getBrandWCPayRequest', {
 	           "appId":'${appId}',     //公众号名称，由商户传入     
 	           "timeStamp":'${timeStamp}',         //时间戳，自1970年以来的秒数     
 	           "nonceStr":"${nonceStr}", //随机串     
 	           "package":"${package}",     
 	           "signType":"MD5",         //微信签名方式：     
 	           "paySign":"${signStr}" //微信签名 
 	       },
 	       function(res){     
 	           if(res.err_msg == "get_brand_wcpay_request:ok" ) {}     // 使用以上方式判断前端返回,微信团队郑重提示：res.err_msg将在用户支付成功后返回    ok，但并不保证它绝对可靠。 
 	       }
 	   ); 
 	}
	
	
	
	
	
	
	
	
	


	if (typeof WeixinJSBridge == "undefined"){
	   if( document.addEventListener ){
	       document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
	   }else if (document.attachEvent){
	       document.attachEvent('WeixinJSBridgeReady', onBridgeReady); 
	       document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
	   }
	}else{
	   onBridgeReady();
	}
		
	</script>
</body>
</html>
